@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Inter:wght@300;400;500&family=Lateef:wght@700&family=Poppins&display=swap');
:root {
    --primary-color: #008080;
    --bg-color: #f5f5f5;
    --text-color: #fff;
}

body {
    background-color: var(--bg-color);
    font-family: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--primary-color);
    padding: 20px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header span {
    font-size: 2rem;
    padding-right: 10px;
}

header h1 {
    font-size: 36px;
}

.container {
    display: flex;
    justify-content: center;
    min-height: 79vh;
    max-width: 800px;
    margin: 0 auto;
}

.quiz {
    padding: 20px;
    margin: 20px;
    max-width: 600px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}


/* // div question */

.qs {
    padding: 10px 15px;
    box-shadow: 0px opx 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    margin-top: 10px;
}

.qs h5 {
    margin: 5px;
    font-size: 16px;
    font-weight: 550;
    word-wrap: break-word;
}


/* //form */

.center-form {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

form {
    padding: 10px 20px;
}

form div {
    display: block;
    margin-top: 15px;
}

form label {
    color: black;
    margin-left: 10px;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}


/* // javascript */

.Error input {
    accent-color: red;
}

.Error label {
    color: red;
}

.success input {
    accent-color: green;
    cursor: pointer;
}

.success label {
    color: green;
}


/* // */

form input,
[type="radio"] {
    height: 20px;
    width: 18px;
    cursor: pointer;
    /* accent-color:red ; */
}

.quiz button {
    padding: 10px;
    border: none;
    background-color: #008080;
    color: var(--text-color);
    margin: auto;
    border-radius: 5px;
}

.quiz button:hover {
    background-color: #029494;
}

footer {
    background-color: #008080;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 18px;
}

@media only screen and (max-width:600px) {
    header h1 {
        font-size: 30px;
    }
}